@import "Variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $off-white;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 10rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: $grey;
  margin: 0;
}

p {
  font-size: 1.8rem;
  font-weight: 600;
  color: $grey;
  margin: 0;
}